body {
    background-color: #e5f5e0 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    text-align: center;
    font-size: 250%;
}

h2 {
    text-align: center;
}

p {
    padding-left: 5%;
    padding-right: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-border-text {
    padding-left: 10%;
}

.right-border-text {
    padding-right: 10%;
}

#scatter_plot {
    padding-right: 3%;
}

#map-toggle {
    margin-left: 30%;
}

#stacked_bar_chart {
    margin-left: 3%;
}

#positive_negative_bar_chart {
    margin-left: 3%;
}

#stacked-bar-scrub-text {
    margin-left: 11%;
    color: gray;
}

#positive-negative-bar-scrub-text {
    margin-left: 6.5%;
    color: gray;
}

.large-blue-text {
    color: #2171b5;
    font-size: large;
}

.large-red-text {
    color: #cb181d;
    font-size: large;
}

.huge-blue-text {
    color: #2171b5;
    font-size: 600%;
    vertical-align: middle;
    text-align: center;
    margin-right: 50px;
}

.huge-orange-text {
    color: #d94701;
    font-size: 600%;
}